<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="pmApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="pmApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="pmApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="pmApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Primeira Marcha</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="bower_components/PACE/pace.min.js"></script>
    <link rel="stylesheet" href="bower_components/PACE/themes/blue/pace-theme-flash.css">
    
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="styles/build/app.css">    
    
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div class="background-image"></div>
    <div class="pgIndex" ng-controller="AppCtrl">
        <div class="topBar">
            <div ng-show="user._id">
                <a class="btn" ng-href="#/user"><img ng-src="{{user.picture}}" class="topBarImg img-circle"/> {{user.firstName}} {{user.lastName}}</a>
            </div>
            <div ng-hide="user._id">
                <a class="btn" ng-href="#/user"><i class="fa fa-user"></i> {{'login.topBarBtn' | translate}}</a>
            </div>
        </div>
        
        <ui-view name="home"></ui-view>
    </div> 
    
    <footer class="">Quaestoo Web Aplication: v<span app-version></span></footer>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    

    <!-- VENDOR SCRIPTS -->
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>    
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>    
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/pt-br.js"></script>
    <script src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="bower_components/angular-pageslide-directive/dist/angular-pageslide-directive.min.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    
    <!-- APP SCRIPTS -->
    <script src="init.js"></script>
    <script src="services.js"></script>
    <script src="directives.js"></script>
    <script src="i18n.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/version.js"></script>
    <script src="app/app.js"></script>
    <script src="home/home.js"></script>
    <script src="user/user.js"></script>
    
    <!-- Google Maps Templates -->
    <script type="text/ng-template" id="searchbox.tpl.html">
        <input ng-model="user.location.address" type="text" placeholder="{{'maps.searchPlaceLbl' | translate}}..." class="form-control" id="searchBoxInput">
    </script>
</body>
</html>
