<div class="row pgLogin">
    <div class="col col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary" ng-show="! createView && ! rememberView">
            <div class="panel-heading">
                <h3 class="panel-title">{{'login.titulo' | translate}}</h3>
            </div>
            
            <div class="panel-body">
                <alert ng-repeat="alert in $root.alerts" type="{{alert.type}}" close="$root.closeAlert($index)">{{alert.msg}}</alert>
                <form name="loginForm" class="validation-form">            
                    <div class="form-group">
                        <label for="email">{{'login.emailLbl' | translate}}: *</label>
                        <input type="email" class="form-control" id="email" ng-model="user.email" autofocus placeholder="{{'login.emailLbl' | translate}}...">
                    </div>
                    <div class="form-group">
                        <label for="password">{{'login.senhaLbl' | translate}}: *</label>
                        <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="{{'login.senhaLbl' | translate}}...">
                    </div>
                </form>
            </div>
            
            <div class="panel-footer">                
                <a class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="login()" loading><i class="fa fa-sign-in"></i> {{'login.loginBtn' | translate}}</a>  
                <hr/>
                <a class="btn" ng-click="toggleRemember()"><i class="fa fa-question"></i> {{'login.lembrarBtn' | translate}}</a>
                <a class="btn" ng-click="toggleCreate()"><i class="fa fa-plus"></i> {{'login.criarBtn' | translate}}</a>
            </div>
        </div>
        
        <div class="panel panel-primary" ng-show="createView">
            <div class="panel-heading">
                <h3 class="panel-title">{{'login.criarTitulo' | translate}}</h3>
            </div>
            
            <div class="panel-body">
                <alert ng-repeat="alert in $root.alerts" type="{{alert.type}}" close="$root.closeAlert($index)">{{alert.msg}}</alert>
                <form name="loginForm" class="validation-form">            
                    <div class="form-group">
                        <label for="email">{{'login.emailLbl' | translate}}: *</label>
                        <input type="email" class="form-control" id="email" ng-model="user.email" autofocus placeholder="{{'login.emailLbl' | translate}}...">
                    </div>
                    <div class="form-group">
                        <label for="password">{{'login.senhaLbl' | translate}}: *</label>
                        <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="{{'login.senhaLbl' | translate}}...">
                    </div>
                    <div class="form-group">
                        <label for="password2">{{'login.verificarSenhaLbl' | translate}}: *</label>
                        <input type="password" class="form-control" id="password2" ng-model="user.password2" placeholder="{{'login.verificarSenhaLbl' | translate}}...">
                    </div>
                </form>
            </div>
            
            <div class="panel-footer">
                <a class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="create()" loading><i class="fa fa-check"></i> {{'login.criarBtn' | translate}}</a>  
                <hr/>
                <a class="btn" ng-click="toggleCreate()"><i class="fa fa-chevron-left"></i> {{'login.voltarBtn' | translate}}</a>
            </div>
        </div>
        
        <div class="panel panel-primary" ng-show="rememberView">
            <div class="panel-heading">
                <h3 class="panel-title">{{'login.lembrarTitulo' | translate}}</h3>
            </div>
            
            <div class="panel-body">
                <alert ng-repeat="alert in $root.alerts" type="{{alert.type}}" close="$root.closeAlert($index)">{{alert.msg}}</alert>
                <form name="loginForm" class="validation-form">            
                    <div class="form-group">
                        <label for="email">{{'login.emailLbl' | translate}}: *</label>
                        <input type="email" class="form-control" id="email" ng-model="user.email" autofocus placeholder="{{'login.emailLbl' | translate}}...">
                    </div>
                </form>
            </div>
            
            <div class="panel-footer">
                <a class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="remember()" loading><i class="fa fa-check"></i> {{'login.lembrarBtn' | translate}}</a>    
                <hr/>
                <a class="btn" ng-click="toggleRemember()"><i class="fa fa-chevron-left"></i> {{'login.voltarBtn' | translate}}</a>
            </div>
        </div>
    </div>
</div>