<div class="pgProfile" ng-init="initProfile()">
    <div class='row'>
        <div class="col col-xs-12 col-sm-3">
            <img class="img-thumbnail img-circle center-block" ng-src="{{user.picture}}"/>
            <a class="btn btn-default center-block" id="photoUploadBtn"><i class="fa fa-upload"></i> {{'profile.trocarFotoBtn' | translate}}...</a>
        </div>
        <div class="col col-xs-12 col-sm-9">
            <alert ng-repeat="alert in $root.alerts" type="{{alert.type}}" close="$root.closeAlert($index)">{{alert.msg}}</alert>
            <form id="profileForm" name="profileForm" class="validation-form">
                <div class="row">
                    <div class="col col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="firstName">{{'profile.firstNameLbl' | translate}}: *</label>
                            <input type="text" class="form-control" id="firstName" required ng-model="user.firstName" autofocus placeholder="{{'profile.firstNameLbl' | translate}}">
                        </div>
                    </div>
                    <div class="col col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lastName">{{'profile.lastNameLbl' | translate}}:</label>
                            <input type="text" class="form-control" id="lastName" ng-model="user.lastName" placeholder="{{'profile.lastNameLbl' | translate}}...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="email">{{'profile.emailLbl' | translate}}:</label>
                            <input type="text" class="form-control" id="email" ng-model="user.email" ng-readonly="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="password">{{'profile.senhaLbl' | translate}}:</label>
                            <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="{{'profile.senhaLbl' | translate}}...">
                        </div>
                    </div>
                    <div class="col col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="password2">{{'profile.verificarSenhaLbl' | translate}}:</label>
                            <input type="password" class="form-control" id="password2" ng-model="user.password2" placeholder="{{'profile.verificarSenhaLbl' | translate}}...">
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <div class="col col-xs-12">
                        <div id="searchBoxContainer"></div>
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                            <ui-gmap-markers models="markers" coords="'self'"></ui-gmap-markers>
                            <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="'searchBoxContainer'"></ui-gmap-search-box>
                        </ui-gmap-google-map>
                    </div>
                </div>  

                <hr/>
                <div class="row">
                    <div class="col col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="skils">{{'profile.skillsLbl' | translate}}:</label>
                            <tags-input replace-spaces-with-dashes="false" add-from-autocomplete-only="false" ng-model="user.skills" placeholder="{{'profile.skillsLbl' | translate}}...">
                                <auto-complete source="loadSkills($query)"></auto-complete>
                            </tags-input>
                            <input-tip content="'profile.skillsTip'"></input-tip>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="buttonBar">
                    <a class="btn btn-danger" ng-click="logoff()" loading><i class="fa fa-sign-out"></i> {{'profile.logoffBtn' | translate}}</a>
                    <a class="btn btn-success" ng-click="save()" ng-disabled="profileForm.$invalid" loading><i class="fa fa-check"></i> {{'profile.salvarBtn' | translate}}</a>
                </div>
            </form>
        </div>
    </div>
</div>