.pgIndex {    
    
    .logoContainer {
        text-align: right;
        width: 62px;
        margin-bottom: 30px;
        height: 50px;
        
        .brand {
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            margin-right: 10px;
            display: none;
        }
        
        .logo {
            width: 50px;
        }
    }
    
    .menuCol {
        position: fixed;
        height: 100%;
        width: 75px;
        top: 0;
        left: 0;
        display: inline-block;
        background-color: rgb(51, 122, 183);
        padding-top: 10px;
        z-index: 2;
        
        .nav {
            li {
                border-top: 1px solid #fff;
                
                &:first-child {
                    border-top: 0;
                }
                
                &:last-child {
                    border-bottom: 1px solid #fff;
                }
                
                a {
                    color: #fff;
                    background-color: rgb(51, 122, 183);
                    font-weight: bold;

                    .fa {
                        color: rgb(51, 122, 183);
                        font-size: 20px;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                    }
                }

                a:focus {
                    color: #fff;
                    background-color: rgb(51, 122, 183);
                }
            }
        }
    }
    
    .contentCol {
        vertical-align: top;
        padding: 20px 10px;
        width: 99%;
        
        &.withMenu {
            padding-left: 80px;
        }
    }    
}