body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-backdrop {
    height: 100%;
}

.panel {
    margin-bottom: 0;
    
    h1, h2, h3 {
        margin-top: 0;
    } 
    
    .panel-body {
        padding: 10px;
    }    

    .panel-footer {
        text-align: right;
        padding: 5px 0;

        a, a:visited {
            font-size: 14px;
            margin: 0 10px;

            &.btn {
                font-size: 14px;
            }
        }
    } 
}

tags-input {
    .tags {
        padding: 5px;    
    
        .tag-item {
            width: 100%;
            background: #337AB7 !important;
            color: #fff;
            border: 0 !important;
            height: auto !important;
            padding: 2px 5px 0 5px !important;

            .remove-button {
                color: #fff;
                text-decoration: none;
                margin: 5px;
                float: right;
            }
        }
    }
}