.pgLogin {
    margin-top: 50px;
    
    .panel-footer {
        hr {
            margin: 10px;
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ddd;
            padding: 0;
        }
        
        .btn {
            display: block;
            width: 200px;
            margin-bottom: 2px;
            margin: 0 auto;
        }
    }
}

.pgProfile {
    #photoUploadBtn {
        width: 125px;
        margin-top: 10px;
    }
    
    .angular-google-map-container { 
        box-shadow: 0 0 7px #666;
        height: 250px; 
    }
    
    #profileForm {
        background: transparent;
    }
}