@import 'menu';
@import 'user';
@import 'index';
@import 'home';

// aloways the last one
@import 'overrides';

.validation-form {
    transition:0.5s linear all;
    background: white;

    .ng-invalid {
        background: #fff;
        color: #000;
        box-shadow: 0px 0px 5px red;
        border: 1px solid rgb(255, 121, 121);
    }
}

.buttonBar {
    text-align: right;
    
    .rating {
        outline: 0;

        &.low {
            color: #9B9B9B;
        }

        &.medium {
            color: #22C024;
        }

        &.high {
            color: #F5E90B;
        }
    }
}

footer {
    padding: 10px 0 0 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    
    display: none;
}

// used by input-*-tip directive
small.inputTip {
    text-align: right;
    display: block;
    color: #337ab7;
    
    &.critical {
        color: #c9302c;
    }
}

.inline {
    display: inline-block;
}

div.label {
    padding: .4em .6em .4em;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    display: block;
    background-image: url('/images/bg.png');
    opacity: .2;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background-repeat: no-repeat;
    background-size: 100%;
}

.topBar {
    text-align: right;
    border-bottom: 1px solid #ccc;
    
    .topBarImg {
        border: 1px solid #ccc;
        width: 30px;
    }
}

#searchBoxInput {
    margin-bottom: 10px;
}