<div class="pgMenu menuCol" ng-class="" ng-init="initApp()" ng-show="showMenu" ng-mouseenter="showCompleteMenu()" ng-mouseleave="hideCompleteMenu()">
    <ul class="nav nav-pills nav-stacked">
        <li class="logoContainer"><!--span class="brand">1 Marcha</span><img class="logo" src="images/qr-square-white.png"/--></li>
        <li><a href="#/home"><i class="fa fa-home img-thumbnail img-circle"></i> <span ng-show="showMenuText">{{'home.menuTooltip' | translate}}</span></a></li>                
        <li><a href="#/user"><i class="fa fa-user img-thumbnail img-circle"></i> <span ng-show="showMenuText"> {{'profile.menuTooltip' | translate}}</span></a></li>
    </ul>  
</div>
<div class="contentCol" ng-class="{withMenu: showMenu}">
    <div class='row'>
        <div class='col col-md-10 col-lg-8'>
            <ui-view name="content"></ui-view>
        </div>
    </div>            
</div>